/* help from james */
@import url(reset.css);
@import url("https://fonts.googleapis.com/css2?family=Instrument+Serif&family=DM+Sans:wght@300;400;500;700&display=swap");

/* apply a natural box layout model to all elements, but allowing components to change (help from james) */
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

/* start */
/* set rules */
body {
  font-family: "DM Sans", sans-serif;
  background-color: #f8f8f8;
  font-size: 16pt;
}

/* instrument serif headings */
h1,
h2,
h3,
a,
li {
  font-family: "Instrument Serif", serif;
  margin-top: 0;
}

/* DM Sans text */
p {
  font-family: "DM Sans", sans-serif;
  margin-top: 0;
}

/* set rules */
h1 {
  font-size: 6rem;
  font-weight: 400;
}

h2 {
  font-size: 4rem;
  font-weight: 400;
}

h3 {
  font-size: 3rem;
  font-weight: 400;
}

h4 {
  font-size: 2rem;
  font-weight: 400;
}

h5 {
  font-size: 1.25rem;
  font-weight: 550;
}

p {
  font-size: 1.25rem;
  font-weight: 400;
  margin-bottom: 1.5rem;
}

a,
li {
  font-size: 1.5rem;
  font-weight: 400;
  font-family: "DM Sans", sans-serif;
}

img {
  height: auto;
  max-width: 100%;
}

hr {
  border: none;
  border-top: 2px solid #cecece;
  margin: 3rem 0;
}



/*index.html page*/
.container {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  margin: auto;
  padding: 3rem;
}

header {
  display: flex;
  justify-content: space-between;
}

/* navigation menu */
.navigation {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.navigation ul {
  list-style: none;
  padding: 0;
}

.navigation li {
  margin-bottom: 1rem;
}

.navigation a {
  text-decoration: none;
  color: black;
  font-size: 1.5rem;
}

.navigation a:hover {
    color: #4958d9;
}

/* name logo (how do i get the image in instead??? fix later??? )*/
.logo {
  display: flex;
  justify-content: flex-end;

}

/* logo made last semester using adobe illustrator */
.logo img {
    width:7rem;
    height: auto;
}

/* hero section */
.hero-area {
  text-align: left;
  margin-top: 6rem;
  margin-bottom: 2rem;
}

.hero-text h1 {
  font-size: 6rem;
  font-weight: 400;
  margin-bottom: 5rem;
}

.hero-text .highlight {
  color: #4958d9;
}


/* case study section */
.case-studies {
  margin-bottom: 2rem;
}

.case-studies h3{
    margin-bottom: 3rem;
    font-size: 2.5rem;
}

.projects {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
}

.project-tgtg {
  min-width: 300px;
}

.project-tgtg a{
    text-decoration: none;
    color: black;
}

.project-tgtg img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 0.5rem;
  padding-bottom: 2rem;
}

.project-visualdesign {
    min-width: 300px;
  }

.project-visualdesign img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 0.5rem;
  padding-bottom: 2rem;
}

/* contact me section + form + button */

.contact-me h3 {
  margin-bottom: 4rem;
  display: flex;
  justify-content: flex-start;
  font-size: 2.5rem;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  margin-bottom: 3rem;
}

label {
  text-align: left;
}

input {
  border: 1px solid #cecece;
  border-radius: 0.5rem;
  padding: 0.8rem;
  font-size: 1.25rem;
  width: 100%;
}

button {
  background: none;
  border: 1px solid #cecece;
  border-radius: 0.5rem;
  padding: 0.8rem;
  font-size: 1.6rem;
  cursor: pointer;
  font-size: 1.25rem;
  color: #4958d9;
  width: 50%;
  display: block;
  margin: 0 auto;
}

button:hover {
  background: #4958d9;
  color: white;
  transition: 0.3s ease;
}




/* about page CSS */
/* header already done, start with the hello & welcome text part */
.about-me {
  width: 100%;
  margin-top: 8rem;
  margin-bottom: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.about-me .highlight {
  color: #4958d9;
}

.about-text {
  width: 100%;
  padding-bottom: 3rem;
}

.about-text h2 {
    font-size: 4rem;
    padding-bottom: 3rem;
}

.self-portrait {
  width: 100%;
}

.about-text p {
  font-size: 1.25rem;
  margin-top: 2.75rem;
}

.about-me img {
  width: 80%;
  height: auto;
  display: block;
  margin: 0 auto;
}





/* tgtg case study page CSS */
.tgtg-intro {
    padding: 3rem;
    text-align: center;
}

.tgtg-intro h4 {
    font-size: 2rem;
    padding-bottom: 1.75rem;
}

.tgtg-intro h3 {
    font-size: 1.75rem;
    padding-bottom: 1.75rem;
    color:#4958d9;
}

.tgtg-intro p {
    padding-bottom: 1.75rem;
}

.tgtg-intro img{
    border-radius: 1rem;
    width: 100%;
    height: auto;
}

.tgtg-about-text p{
    width:65%;
    text-align: center;
    color: #4958d9;
    margin:auto;
    padding-bottom: 3rem;
}



/* project overview section */
.project-overview-tgtg {
    background-color: #EEEDF9;
    padding: 2.75rem;
    border-radius: 1rem;
}

.project-overview-tgtg h5 {
    font-size: 1.25rem;
    text-align: center;
    padding-bottom: 1.25rem;
}

.project-overview-tgtg p {
    text-align: center;
    width: 75%;
    margin: auto;
    padding:0.5rem;
    line-height: 1.5rem;
}



/* tgtg PROBLEM */
.tgtg-problem {
    padding-top: 2rem;
}

.tgtg-problem h5 {
    font-size: 1.25rem;
    color: #4958d9;
    padding-top:1.5rem;
    padding-bottom: 1.5rem;
}

.tgtg-problem p {
    line-height: 1.5rem;
}



/* tgtg SOLUTION */
.tgtg-solution {
    padding-top: 1rem;
    padding-bottom: 2rem;
}

.tgtg-solution h5 {
    font-size: 1.25rem;
    color: #4958d9;
    padding:1.5rem 0rem;
}

.tgtg-solution p {
    line-height: 1.5rem;
}




/* timeline, tools, responsibilities */
.tgtg-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    gap: 1.5rem;
    text-align: center;
}

.tgtg-info-text {
    display: flex;
    flex-direction: column; 
    gap: 1rem;
    width: 100%;
}

.tgtg-info h5 {
    color: #4958d9;
    font-size: 1.25rem;
    padding-bottom: 1.5rem;
}

.tgtg-info img {
    width: 80%;
    height: auto;
    display: block;
    margin: 0 auto;
}



/* tgtg process */
.tgtg-process h5{
    color: #4958d9;
    font-size: 1.25rem;
    padding-bottom: 4rem;
}

.tgtg-process {
    padding-bottom: 4rem;
}

.tgtg-process img {
    width: 75%;
    height: auto;
    display: block;
    margin: 0 auto;
}



/* tgtg DEFINE */
.tgtg-define {
    padding: 3rem 0rem;
}

.tgtg-define h5{
    color: #4958d9;
    padding-bottom: 1.5rem;
}

.tgtg-define p:first-child {
    width: 60%;
    font-weight: 550;
}

.tgtg-define ul {
    list-style-type: disc;
    padding-left: 2rem;
}

.tgtg-define li {
    font-size: 1.25rem;
    padding: 0.75rem;
}



/* tgtg RESEARCH */
.tgtg-research h5 {
    color: #4958d9;
    padding-bottom: 1.5rem;
}

.tgtg-research p {
    font-weight: 550;
}

.tgtg-research ul {
    list-style-type: disc;
    padding-left: 2rem;
    padding-bottom: 2.5rem;
}

.tgtg-research li {
    font-size: 1.25rem;
    padding: 0.75rem;
}


.iphone-recipient-mockup img{
    height: auto;
    width: 75%;
    display: block;
    margin: 0 auto;
}



/* tgtg INSIGHTS */

.tgtg-insights h5{
    color: #4958d9;
    padding-bottom: 2.75rem;
    padding-top: 2rem;
}

.tgtg-insight-1 {
    padding-bottom: 1rem;
}

.tgtg-insight-1 p:first-child{
    font-weight: 550;
}

.tgtg-insight-2 {
    padding-bottom: 1rem;
}

.tgtg-insight-2 p:first-child {
    font-weight: 550;
}

.tgtg-insight-3 {
    padding-bottom: 1rem;
}

.tgtg-insight-3 p:first-child {
    font-weight: 550;
}

.tgtg-insight-4 {
    padding-bottom: 3rem;
}

.tgtg-insight-4 p:first-child {
    font-weight: 550;
}




/* DESING PROCESS TGTG */
.tgtg-design-process h5{
    color: #4958d9;
    padding-bottom: 2.5rem;
    padding-top: 2.5rem;
}

.tgtg-design-process p {
    width: 90%;
}

.tgtg-gifting-flow p {
    padding-top:2rem;
    padding-bottom: 0.75rem;
    font-weight: 550;
}

.tgtg-claim-flow p {
    padding-top:4rem;
    padding-bottom: 0.75rem;
    font-weight: 550;
}

.send-bag-mockups p {
    padding-top:6rem;
    padding-bottom: 1rem;
    font-weight: 550;
}

.donate-bag-mockups p {
    padding-top:6rem;
    padding-bottom: 1rem;
    font-weight: 550;
}



/* tgtg LEARNINGS */
.tgtg-learnings h5{
    color: #4958d9;
    padding-top: 6rem;
    padding-bottom: 2rem;
}

.tgtg-learnings p {
    line-height: 1.5rem;
}


/* work.html CSS */
.work-projects {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
}

.work-content h3{
  padding-top: 8rem;
  padding-bottom: 2rem;
}

.work-text {
  background-color: #EEEDF9;
  padding-top: 3rem;
  padding-bottom: 2rem;
  padding-left: 2rem;
  padding-right:2rem;
  border-radius: 0.5rem;
  margin-bottom: 4rem;
  text-align: center;
}


/* citations page */
.citations h3 {
  padding: 6rem 4rem 0rem 0rem;
}

.citations p {
  font-size: 0.75rem;
}


/* FOOTER CSS*/
footer {
  text-align: center;
  font-size: 0.25rem;
  color: #4958d9;
  padding-bottom: 2rem;
}

footer p {
  font-size: 1rem;
}

.footer-navigation ul{
    display: flex;
    justify-content: center;
    gap: 3rem;
    list-style: none;
    padding-bottom:4rem;
}

.footer-navigation a {
    text-decoration: none;
    color: black;
    font-size: 1rem;
}

.footer-links a{
    font-size: 0.75rem;
    text-decoration: none;
    color: #868686;
}

.footer-links {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    padding-top: 3rem;
}

.footer-links a:hover {
    color: #4958d9;
}

.footer-navigation a:hover {
    color: #4958d9;
}


/* help from james MEDIA QUERIES from bootstrap */
@media (min-width: 768px) {
    .projects {
        display:flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .work-projects {
      display:flex;
      flex-direction: row;
      justify-content: space-between;
      padding: 3rem 0rem;
  }

    .tgtg-info {
        flex-direction: row; /* Puts text on the left, image on the right */
        justify-content: space-between;
        align-items: center;
        text-align: left;
    }

    .tgtg-info-text {
        width: 50%; /* Keeps text contained on larger screens */
    }

    .tgtg-info img {
        width: 50%; /* Keeps image contained */
    }

    .tgtg-design-process p {
        width: 75%;
    }

    .about-text {
        margin-right: 3rem;
    }

    .about-me img {
        width: 80%;
        height: auto;
      }

      .citations p {
        font-size: 1rem;
      }

      .footer {
        text-align: center;
        font-size: 0.5rem;
        color: #4958d9;
        padding-bottom: 2rem;
      }

      .footer-links a{
        font-size: 1rem;
        text-decoration: none;
        color: #868686;
    }

    .footer-navigation a {
      text-decoration: none;
      color: black;
      font-size: 1.25rem;
  }

  footer p {
    font-size: 1.25rem;
  }


}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {

  h2 {
    font-size: 6.4rem;
  }
  .about-me {
    flex-direction: row;
  }

  .about-text {
    width: 60%;
  }
  .self-portrait {
    width: 40%;
  }

  .about-me img {
    width: 100%;
    height: auto;
  }

}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {

}
